= render "shared/header" # ヘッダー呼び出し
.show
  .pc_case
    .pc_case__head
    -# 注意情報
    .pc_case__bottom
      .pc_case__bottom__left
        .pc_case__bottom__left__image
          = image_tag "pc_case/#{@pc_cases.image}", class: "image"
      .pc_case__bottom__right
        .table
          %table
            %tr
              %td.name 名称
              %td.p_name
                = @pc_cases.name
              %td.developer メーカー
              %td.p_developer
                = @pc_cases.maker.name
            %tr
              %td.release_ja 国内発売日
              %td.p_release_ja
                = @pc_cases.release_ja
              %td.release_g 世界発売日
              %td.p_release_g
                = @pc_cases.release_g
            %tr
              %td.shadow_bay_2_5 2.5インチシャドウベイ
              %td.p_shadow_bay_2_5
                - if @pc_cases.shadow_bay_2_5.nil? 
                  0                
                = @pc_cases.shadow_bay_2_5
            %tr
            %tr
              %td.shadow_bay_3_5 3.5インチシャドウベイ
              %td.p_shadow_bay_3_5
                - if @pc_cases.shadow_bay_3_5.nil? 
                  0
                = @pc_cases.shadow_bay_3_5
            %tr
              %td.bay_3_5 3.5インチベイ
              %td.p_bay_3_5
                - if @pc_cases.bay_3_5.nil? 
                  0
                = @pc_cases.bay_3_5
            %tr
            %tr
              %td.bay_5_2_5 5.25インチベイ
              %td.p_bay_5_2_5
                - if @pc_cases.bay_5_2_5.nil? 
                  0
                = @pc_cases.bay_5_2_5
            %tr
              %td.color カラー
              %td.p_color
                = @pc_cases.color
            %tr
              %td.use_type_c usb type-c
              %td.p_usb_type_c
                - if @pc_cases.usb_type_c.nil? 
                  0
                = @pc_cases.usb_type_c
            %tr
= render "shared/footer" # フッター呼び出し