= render "shared/header" # ヘッダー呼び出し
.new
  .content
    = form_with model: @item, local:true, class:"content" do |f|
      .j_pc
        .name
          = f.text_field :name, class:"j_pc_name", placeholder: "PC名", maxlength: "30",required: true
        .cpu
          = f.collection_select :cpu_id, Cpu.all, :id, :name
        .mother_board
          = f.collection_select :mother_board_id, MotherBoard.all, :id, :name
        .memory
          = f.collection_select :memory_id, Memory.all, :id, :name
        .videocard
          = f.collection_select :videocard_id, Videocard.all, :id, :name
        .pc_case
          = f.collection_select :pc_case_id, PcCase.all, :id, :name
        .power_unit
          = f.collection_select :power_unit_id, PowerUnit.all, :id, :name
        .ssd
          = f.collection_select :ssd_id, Ssd.all, :id, :name
        .cpu_cooler
          = f.collection_select :cpu_cooler_id, CpuCooler.all, :id, :name
        .private
        .submit
          = f.submit :name, class:"content__wrapper__confirmation__button", value: "確認"
= render "shared/footer" # フッター呼び出し