.header
  .header__logo
    = link_to root_path do
      = image_tag "main_logo_head.png", class: "headLogo"
  .header__search
    .header__search__bar
      %input.searchWord{:name => "keyword", :placeholder => "キーワードを入力してください", :type => "keyword", :value => ""}/
    .header__search__list
      .header__search__list__cpu
        = link_to cpu_index_path, class: "cpuList" do
          CPU
      .header__search__list__mb
        = link_to mother_board_index_path, class: "mbList" do
          マザーボード
      .header__search__list__memory
        = link_to memory_index_path, class: "memoryList" do
          メモリー
      .header__search__list__videocard
        = link_to "https://kakaku.com/pc/videocard/", class: "videocardList" do
          グラフィックボード
      .header__search__list__case
        = link_to "https://kakaku.com/pc/pc-case/", class: "caseList" do
          PCケース
      .header__search__list__pu
        = link_to "https://kakaku.com/pc/power-supply/", class: "puList" do
          電源ユニット
      .header__search__list__storage
        = link_to "https://kakaku.com/pc/ssd/", class: "storageList" do
          ストレージ
  .header__user
    .header__user__icon
      = link_to "https://www.amazon.com", class: "userIcon" do
        %i.fas.fa-user.fa-2x
    .header__user__option
      -if user_signed_in?
        = link_to root_path, class: "header__mypage" do
          = current_user.username
        = link_to destroy_user_session_path,method: :delete, class: "header__register" do
          ログアウト
      -else
        = link_to new_user_session_path,class: "header__login" do
          ログイン
        = link_to new_user_registration_path, class: "header__register" do
          新規登録
