= render "shared/header" # ヘッダー呼び出し
.index
  .cpu
    - @cpus.each do |cpu|
      .cpu__block
        .cpu__block__image
          = link_to cpu_path(cpu.id) do
            - image_tag "#{cpu.image}",class: "image"
        .cpu__block__developer    
          = cpu.developer.name
        .cpu__block__name
          = cpu.name
        .cpu__block__price
          = "￥#{cpu.price.to_s(:delimited)}（参考価格）"

= render "shared/footer" # フッター呼び出し