ショー
.cpu
  .cpu__name
    = @cpus.name
  .cpu__price
    = "#{@cpus.price} 円"
  .cpu__core
    = "コア数 #{@cpus.core}"
  .cpu__thread
    = "スレッド数 #{@cpus.thread}"
  .cpu__clockspeed
    = "クロック周波数 #{@cpus.clockspeed}GHz"
  .cpu__turbospeed
    = "最大動作クロック周波数 #{@cpus.turbospeed}GHz"